html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --primary: #1277e5;
    --secondary: #7cef69;
    --bg: #efefef;
    --text: #393939;
}


*,
*::before,
*::after{
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}
.btn{
    color: white;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 30px;
    text-align: center;
    font-weight: 400;
    box-shadow: none;
    outline: 0;
    border: 0;
}
.btn1{
    background-color: red;
}
.btn2{
    background-color: transparent;
    border: 1px solid white;
}
.justify{
    justify-content: flex-start;
}


body{
    color: #9b9b9b;
    line-height: 1.5;
    font-size: 24px;
    font-family: 'Roboto',sans-serif;
}
.container{
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    padding: 16px 0;
    position: absolute;
    width: 100%;
}
.brand{
    font-size: 32px;
    margin-right: 160px;
    color: white;
}

.ul{
    font-size: 24px;
    font-weight: 600;
}
.ul li{
    margin-left: 32px;
}

.link a{
    font-size: 16px;
}
.flexible{
    width: 100%;
    height: auto;
}
.align-start{
    align-items: flex-start;
}




.section{
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right,rgba(19,120,228,0.7), rgba(126,243,102,0.7)), url(./assets/home-bg.jpg) center center no-repeat;
    background-size: cover;
    color: white;
}
.col{
    flex: 0 1 48%;
}
.heading{
    font-size: 44px;
    color: white ;
    font-weight: 500;
    margin-bottom: 32px;
}
.p{
    margin-left: 32px;
}
.col1{
    padding-right: 100px;
}





.box1{
    flex:0 1 40%;
}
.box2{
    flex:0 1 30%;
}
.box3{
    flex:0 1 60%;
}
.box4{
    flex:0 1 20%;
}
.box2 img{
    height: auto;
    width: 100%;
}
.sec1{
    padding: 100px 0;
}
.heading1{
    font-size: 32px;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 4px;
}
.header1{
    margin-bottom: 24px;
}
.dot{
    width: 8px;
    height: 8px;
    background-color: #d8d8d8;
    margin-right: 8px;
    display: inline-block;
}
.wrap{
    display: flex;
    justify-content: flex-start;
}
.text{
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 12px;
}

.progress1{
    margin-bottom: 20px;
}
.progress1 h3{
    color: var(--text);
    font-weight: 500;
}

.progress1 p{
    color: var(--text);
}
progress{
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--text);
}
progress::-webkit-progress-bar {
    background-color: var(--bg);
}
progress::-webkit-progress-value {
    background-color: var(--text);
}


.img{
    bottom: 0;
}

.section2{
    background-color: var(--bg);
}
.text-center{
    text-align: center;
}
.wrap1{
    display: inline-block; 
}

.article{
    background-color: #ffffff;
    margin: 24px 0;
}
.font0{
    font-size: 0;
}
.content{
    padding: 32px;
}
.article time{
    color: red;
    font-size: 16px;
}
.article time i{
    margin-right: 8px;
}
.article h3{
    font-size: 32px;
    font-weight: 500;
    color: var(--text);
    margin: 12px 0;
}
.btn2{
    background-color: var(--bg);
    color: var(--text);
}
.wrap-wrap{
    flex-wrap: wrap;
}

.section3 img{
    border-radius: 6px;
}
.flex-23{
    flex: 0 1 23%;
}

.section4{
    background: linear-gradient(to right,rgba(19,120,228,0.7), rgba(126,243,102,0.7))
}
.section4 .heading1{
    color: white;
}
.form-control{
    color: var(--text);
    padding: 16px 12px;
    margin-top: 16px;
    width: 100%;
    display: block;
    background-color: white;
    border: 0;
    border-radius: 8px;
    font-family: "Roboto",sans-serif;
}

.section4 .btn{
    margin-top: 32px;
}

.iframe1{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}



.footer{
    background: linear-gradient(to right,#424242,#010101);
    color: whitesmoke;
    font-size: 12px;
}
.footer h3{
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}
.footer hr{
    margin-top: 32px;
    border: 0;
    border-top: 1px solid var(--bg);
}

.sec2{
    padding: 32px 0;
    margin: 32px;
}
